#ai-dashboard {
    padding: 20px;
}

.page-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*.gradio-container {*/
/*    background-color: #ffffff;*/
/*}*/

.tab-nav button {
    --body-text-color-subdued: #636363;
}

.sidebar {
    background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
    .prose,
    .tab-nav button {
        --body-text-color: #1f2937;
        --border-color-primary: #e5e7eb;
    }
    .tab-nav button.selected {
        --background-fill-primary: white;
    }
}
